.body {
  font-family: Roboto;
  color: #FFFFFF;
}

/* Header Web Studio */

.web{
  color: #4D5AE5;
  font-size: 18px;
  line-height: 21%;
  font-weight: 800;

}

.logo{
  color: #2E2F42;
  font-size: 18px;
  line-height: 21%;
  font-weight: 800;
  
}

.nav-links
.link{
  color: #2E2F42;
  font-size: 16px;
  line-height: 24%;
  font-weight: 500;
}

.nav-links
.link:hover {
  color: #404BBF;
}


.address-links
.address{
  color: #434455;
  font-size: 16px;
  line-height: 24%;
  font-weight: 400;
}

.address-links 
.address:hover {
  color: #404BBF;
}

/* Main */

.button{
  color: #FFFFFF;
  background-color: #4D5AE5;
  font-size: 16px;
  line-height: 24%;
  font-weight: 500;
  cursor: pointer;
}

.button:hover{
  color: #FFFFFF;
  background-color: #404BBF;
}

.item{
  font-size: 56px;
  color: #FFFFFF;
  line-height: 60%;
  font-weight: 700;
}

/* features */

.list{
  color: #2E2F42;
  font-size: 20px;
  line-height: 24%;
  font-weight: 500;
}

.list1{
  color: #434455;
  font-size: 16px;
  line-height: 24%;
  font-weight: 400;
}

.title
.title-team{
  color: #2E2F42;
  font-size: 36px;
  line-height: 40%;
  font-weight: 700;
}


.name{
  color: #2E2F42;
  font-size: 20px;
  line-height: 24%;
  font-weight: 500;
}

.specialty{
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* footer */

.tim{
  color: #F4F4FD;
  font-size: 16px;
  line-height: 24%;
  font-weight: 400;

}





